@keyframes slide {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(0);
    }
    30% {
      transform: translateX(-100%);
    }
    55% {
      transform: translateX(-100%);
    }
    60% {
      transform: translateX(-200%);
    }
    85% {
      transform: translateX(-200%);
    }
    90% {
      transform: translateX(-300%);
    }
    100% {
      transform: translateX(-300%);
    }
}






* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    scroll-behavior: smooth;
}
h1 , h2 , h3 {
    font-family: 'Dancing Script', sans-serif;
}
a {
    text-decoration: none;
    color: black;
    transition: 0.3s;
}
ul {
    list-style: none;
}
.title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.title span {
    width: 150px;
    height: 2px;
    background-color: #a40707;
}
.title h1 {
    font-size: 50px;
    margin: 0 20px;
    font-weight: normal;
    color: #a40707;
}






nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    position: absolute;
    width: 100%;
    z-index: 10;
    background: white;
    border: 1px solid #114232;
}
nav h1 {
    font-size: 35px;
}
nav .title h1 {
    font-size: 35px;
}
nav .title {
    margin-bottom: 0;
}
nav ul {
    display: flex;
}
nav ul li {
    margin: 0 40px;
}
nav a {
    text-decoration: none;
    color: #8f8f8f;
    font-size: 18px;
    font-weight: 400;
    transition: all 0.5s ease-in-out;
    position: relative;
    text-transform: uppercase;
}
nav a::before {
    content: attr(data-item);
    transition: 0.5s;
    color: #a40707;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    overflow: hidden;
}
nav a:hover::before {
    width: 100%;
    transition: all 0.5s ease-in-out;
}
.res-btn {
    background-color: #a40707;
    color: #a40707;
    border-radius: 40px;
    text-transform: uppercase;
    padding: 20px 30px;
    color: white;
    transition: 0.5s;
    border: none;
    font-family: "Roboto";
    font-size: 15px;
    letter-spacing: 2px;
    cursor: pointer;
}
.res-btn:hover {
    transform: scale(0.9);
}







header {
    height: 100vh;
    background: url(assets/slide4.jpg) no-repeat fixed;
    background-size: cover;
}
header .text {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #00000094;
    color: white;
}
header .text h1 {
    font-size: 100px;
} 
header .text h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    margin-top: 20px; 
    font-size: 35px;
}
header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}





.concept {
    padding: 60px 100px;
}
.concept .content {
    display: flex;
    justify-content: space-around;
}
.concept img {
    width: 50%;
    object-fit: cover;
}
.concept p {
    width: 50%;
    padding: 40px;
    line-height: 30px;
    font-size: 15px;
}







.atouts {
    display: flex;
    justify-content: space-around;
    padding: 80px;
}
.atouts div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.atouts img {
    border: #114232 solid 2px;
    border-radius: 50%;
    padding: 10px;
    margin-bottom: 20px;
}
.atouts p {
    font-size: 16px;
    text-transform: uppercase;
}
  






.carte {
    height: 350px;
    background: url(assets/slide5.jpg) no-repeat;
    background-size: cover;
    background-position: top  left ;
    position: relative;
}
.carte div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000018;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}
.carte p {
    font-family: "Dancing Script";
    font-size: 32px;
    line-height: 50px;
    width: 30%;
    text-align: center;
}
.carte a {
    background-color: #a40707;
    color: #a40707;
    border-radius: 40px;
    text-transform: uppercase;
    padding: 20px;
    color: white;
    transition: 0.5s;
}
.carte a:hover {
    transform: scale(0.9);
}







.menu img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.menu ul {
    display: flex;
}
.menu li {
    width: 25%;
    height: 100vh;
    position: relative;
}
.menu h3 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #00000092;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 40px;
    transition: 0.8s ease-in-out;
}
.menu h3:hover {
    color: transparent;
    background: transparent;
}







.menu-carte {
    display: flex;
    justify-content: center;
}
.menu-carte img {
    width: 80%;
    border: double 10px #a40707;
    margin-top: 100px;
    margin-bottom: 20px;
}






.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.images img {
    width: 48%;
    height: 450px;
    object-fit: cover;
    margin: 10px;
}






.testimonials {
    padding: 80px 20px;
}
.testimonial-container {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.testimonial {
    display: none;
    width: 50%;
    padding: 60px 40px;
    border: ridge 8px #8080807d;
    box-shadow: 8px 8px 20px #00000056;
}
.testimonial.active {
    display: block;
}
.testimonial-container button {
    background-color: #8080801d;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 50%;
    margin-top: 20px;
}
.testimonial-container  button:hover {
    background-color: #80808059;
}
.testimonial .p {
    margin-bottom: 20px;
    line-height: 30px;
    font-style: italic;
}
.testimonial .n {
    font-weight: bold;
}







.formulaire {
    background: white;
    position: fixed;
    top: 0;
    right: 0;
    width: 35%;
    height: 100vh;
    padding: 20px 40px;
    z-index: 99;
    display: none;
}
.formulaire .title {
    margin-top: 30px;
}
form input {
    height: 40px;
    width: 100%;
    margin-bottom: 20px;
    padding-left: 10px;
    font-family: "Roboto";
    font-size: 14px;
}
form label {
    font-size: 14px;
    color: #5c5c5c;
}
form .date , form .time {
    margin-top: 10px;
}
form button {
    width: 100%;
    background-color: #a40707;
    color: #a40707;
    border-radius: 40px;
    text-transform: uppercase;
    padding: 20px;
    color: white;
    border: none;
    font-size: 15px;
    letter-spacing: 2px;
    margin-top: 20px;
    transition: 0.5s;
    cursor: pointer;
}
form button:hover {
    background-color: #114232;
}
.formulaire .fa-times {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.formulaire .fa-times:hover {
    transform: scale(1.3);
}
.bg-black {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 98;
    background-color: #000000b1;
    display: none;
}






.contact {
    padding: 40px;
}
.contact .content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact .item {
    width: 25%;
    height: 250px;
    margin: 20px;
}
.contact ul {
    border: #114232 2px solid;
    color: #114232;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact ul li {
    margin-bottom: 10px;
    font-weight: 100;
}
.contact a {
    font-weight: bold;
    color: #a40707;
}
.contact .first {
    margin-bottom: 20px;
    font-weight: bold;
}






footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    font-weight: 100;
    background-color: #114232;
    color: white;
}
footer h2 {
    font-size: 40px;
    font-weight: normal;
    margin-bottom: 10px;
    text-align: center;
}
footer .text {
    text-transform: uppercase;
    font-weight: 100;
    text-align: center;
    margin-bottom: 20px;
}
footer ul li {
    margin-bottom: 10px;
    font-size: 14px;
}
footer img {
    width: 30px;
    margin: 0 20px;
}
footer .social {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
footer .copy {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    background: black;
}
footer .copy li {
    font-size: 13px;
    margin: 20px;
    width: 30%;
    text-align: center;
}




.appear {
    opacity: 0;
    transition: opacity 1s;
}



.title-band {
    width: 100%;
    height: 300px;
    background: url(assets/slide4.jpg) no-repeat;
    background-size: cover;
    position: relative;
}
.title-band h2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.33);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    font-weight: 100;
    padding-top: 60px;
}