@keyframes slide {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(0);
    }
    30% {
      transform: translateX(-100%);
    }
    55% {
      transform: translateX(-100%);
    }
    60% {
      transform: translateX(-200%);
    }
    85% {
      transform: translateX(-200%);
    }
    90% {
      transform: translateX(-300%);
    }
    100% {
      transform: translateX(-300%);
    }
}






* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    scroll-behavior: smooth;
}
h1 , h2 , h3 {
    font-family: 'Dancing Script', sans-serif;
}
a {
    text-decoration: none;
    color: black;
    transition: 0.3s;
}
ul {
    list-style: none;
}
.title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.title span {
    width: 150px;
    height: 2px;
    background-color: #a40707;
}
.title h1 {
    font-size: 50px;
    margin: 0 20px;
    font-weight: normal;
    color: #a40707;
    text-align: center;
}
@media screen and (max-width: 700px) {
    .title {
        margin-bottom: 30px;
    }
    .title span {
        width: 100px;
    }
    .title h1 {
        font-size: 35px;
    }
}
@media screen and (max-width: 500px) {
    .title {
        margin-bottom: 30px;
    }
    .title span {
        width: 40px;
    }
    .title h1 {
        font-size: 30px;
        margin: 0 10px;
    }
}





nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    position: absolute;
    width: 100%;
    z-index: 10;
    background: white;
    border: 1px solid #114232;
}
nav img {
    width: 40px;
    margin-right: 5px;
}
nav .title h1 {
    font-size: 35px;
}
nav .title {
    margin-bottom: 0;
}
nav ul {
    display: flex;
    align-items: center;
}
nav ul span {
    width: 6px;
    height: 6px;
    background: #8f8f8f;
    border-radius: 50%;
}
nav ul li {
    margin: 0 20px;
}
nav a {
    text-decoration: none;
    color: #636363;
    font-size: 18px;
    font-weight: 400;
    transition: all 0.5s ease-in-out;
    position: relative;
    text-transform: uppercase;
}
nav a::before {
    content: attr(data-item);
    transition: 0.5s;
    color: #d40101;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    overflow: hidden;
}
nav a:hover::before {
    width: 100%;
    transition: all 0.5s ease-in-out;
}
.res-btn {
    background-color: #a40707;
    color: #a40707;
    border-radius: 40px;
    text-transform: uppercase;
    padding: 10px 30px;
    color: white;
    transition: 0.5s;
    border: none;
    font-family: "Roboto";
    font-size: 15px;
    letter-spacing: 2px;
    cursor: pointer;
}
.res-btn:hover {
    transform: scale(0.93);
}
@media screen and (max-width: 700px) {
    nav {
        padding: 5px 10px;
    }
    nav a {
        font-size: 13px;
    }
    nav ul li {
        margin: 0 5px;
    }
    .res-btn {
        padding: 10px;
        font-size: 10px;
    }
    nav img {
        width: 20px;
        margin-right: 0;
    }
}







header {
    height: 100vh;
    background: url(assets/slide4.jpg) no-repeat fixed;
    background-size: cover;
}
header .text {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #00000094;
    color: white;
}
header img {
    width: 40%;
    object-fit: cover;
}
@media screen and (max-width: 1024px) {
    header {
        height: 100vh;
        background: url(assets/slide4.jpg) no-repeat;
        background-size: cover;
    }
}
@media screen and (max-width: 900px) {
    header {
        height: 100vh;
        background: url(assets/slide4.jpg) no-repeat;
        background-size: cover;
    }
    header img {
        width: 50%;
        object-fit: cover;
    }
}
@media screen and (max-width: 700px) {
    header img {
        width: 65%;
        object-fit: cover;
    }
}
@media screen and (max-width: 500px) {
    header {
        height: 300px;
    }
    header .text {
        height: 300px;
    }
    header img {
        width: 60%;
        object-fit: cover;
        margin-top: 40px;
    }
}





.concept {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}
.concept p {
    padding: 0 10%;
    text-align: center;
    line-height: 28px;
}
.concept .span {
    margin: 20px;
}
.concept .span span {
    display: inline-block;
        width: 8px;
        height: 8px;
        background: #999999;
        border-radius: 50%;
    margin: 2px;
}
@media screen and (max-width: 700px) {
    .concept p {
        padding: 0 ;
        font-size: 15px;
        line-height: 25px;
    }
}
@media screen and (max-width: 500px) {
    .concept {
        padding: 20px;
    }
}








.atouts {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 60px;
    padding-top: 80px;
}
.atouts div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 23px;
    box-shadow: 3px 3Px 10px #80808075;
    position: relative;
    border-radius: 20px;
    padding: 60px 20px;
    padding-bottom: 30px;
    width: 20%;
}
.atouts img {
    box-shadow: 3px 3Px 10px #80808075;
    border-radius: 50%;
    padding: 10px;
    margin-bottom: 20px;
    position: absolute;
    z-index: 2;
    top: -30px;
    background-color: white;
}
.atouts p {
    font-size: 16px;
    
}
.atouts span {
    
        width: 10px;
        height: 10px;
        background: #999999;
        border-radius: 50%;
}
@media screen and (max-width: 1024px) {
    .atouts {
        flex-wrap: wrap;
        justify-content: center;
        padding: 30px;
        padding-bottom: 10px;

    }
    .atouts div {
        padding: 60px 20px;
        padding-bottom: 30px;
        margin: 40px 20px;
        width: 40%;
    }
    .none {
        display: none;
    }
    
}
@media screen and (max-width: 700px) {
    .atouts div {
        width: 70%;
    }
    .atouts span {
        display: none;
    }
}
@media screen and (max-width: 700px) {
    .atouts div {
        width: 70%;
    }
    .atouts span {
        display: none;
    }
}
@media screen and (max-width: 500px) {
    .atouts div {
        width: 90%;
    }
}
  






.carte {
    height: 350px;
    background: url(assets/slide5.jpg) no-repeat;
    background-size: cover;
    background-position: top  left ;
    position: relative;
}
.carte div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000018;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}
.carte p {
    font-family: "Dancing Script";
    font-size: 32px;
    line-height: 50px;
    width: 30%;
    text-align: center;
}
.carte a {
    background-color: #a40707;
    color: #a40707;
    border-radius: 40px;
    text-transform: uppercase;
    padding: 20px;
    color: white;
    transition: 0.5s;
}
.carte a:hover {
    transform: scale(0.9);
}
@media screen and (max-width: 900px) {
    .carte {
        height: 250px;
    }
    .carte p {
        font-size: 25px;
        line-height: 30px;
        width: 80%;
        text-align: center;
    }
    .carte div {
        padding: 0 20px;
        background-color: #000000c7;
        flex-direction: column;
        justify-content: center;
    }
    .carte a {
        padding: 10px 20px;
        margin-top: 30px;
    }
}
@media screen and (max-width: 500px) {
    .carte p {
        font-size: 20px;
        width: 90%;
    }
    .carte a {
        font-size: 13px;
    }
}







.menu img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.menu ul {
    display: flex;
}
.menu li {
    width: 25%;
    height: 100vh;
    position: relative;
}
.menu h3 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #00000092;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 40px;
    transition: 0.8s ease-in-out;
}
.menu h3:hover {
    color: transparent;
    background: transparent;
}
@media screen and (max-width: 900px) {
    .menu ul {
        flex-direction: column;
    }
    .menu li {
        width: 100%;
        height: 350px
    }
}







.menu-carte {
    display: flex;
    justify-content: center;
}
.menu-carte img {
    width: 80%;
    border: double 10px #a40707;
    margin-top: 100px;
    margin-bottom: 20px;
}






.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.images img {
    width: 48%;
    height: 450px;
    object-fit: cover;
    margin: 10px;
}
@media screen and (max-width: 1024px) {
    .images img {
        width: 45%;
        height: 400px;
    }
}
@media screen and (max-width: 900px) {
    .images img {
        width: 40%;
        height: 350px;
    }
}
@media screen and (max-width: 700px) {
    .images img {
        width: 100%;
        height: 350px;
    }
}







.testimonials {
    padding: 40px 20px;
}
.testimonial-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.testimonial-container div {
    width: 25%;
    text-align: center;
    font-size: 14px;
    line-height: 23px;
    margin-top: 20px;
}
.testimonial-container .n {
    font-weight: bold;
    margin-top: 10px;
}
.testimonial-container span {
    width: 10px;
    height: 10px;
    background: #999999;
    border-radius: 50%;
}
@media screen and (max-width: 900px) {
    .testimonial-container {
        flex-direction: column;
    }
    .testimonial-container div {
        width: 70%;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 600px) {
    .testimonial-container div {
        width: 90%;
        margin-bottom: 20px;
    }
}







.formulaire {
    background: white;
    position: fixed;
    top: 0;
    right: 0;
    width: 35%;
    height: 100vh;
    padding: 20px 40px;
    z-index: 99;
    display: none;
}
.formulaire .title {
    margin-top: 30px;
}
form input {
    height: 40px;
    width: 100%;
    margin-bottom: 20px;
    padding-left: 10px;
    font-family: "Roboto";
    font-size: 14px;
}
form label {
    font-size: 14px;
    color: #5c5c5c;
}
form .date , form .time {
    margin-top: 10px;
}
form button {
    width: 100%;
    background-color: #a40707;
    color: #a40707;
    border-radius: 40px;
    text-transform: uppercase;
    padding: 20px;
    color: white;
    border: none;
    font-size: 15px;
    letter-spacing: 2px;
    margin-top: 20px;
    transition: 0.5s;
    cursor: pointer;
}
form button:hover {
    background-color: #114232;
}
.formulaire .fa-times {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.formulaire .fa-times:hover {
    transform: scale(1.3);
}
.bg-black {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 98;
    background-color: #000000b1;
    display: none;
}






.contact {
    padding: 40px;
}
.contact .content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact .item {
    width: 25%;
    height: 250px;
    margin: 20px;
}
.contact ul {
    border: #114232 2px solid;
    color: #114232;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact ul li {
    margin-bottom: 10px;
    font-weight: 100;
}
.contact a {
    font-weight: bold;
    color: #a40707;
}
.contact .first {
    margin-bottom: 20px;
    font-weight: bold;
}






footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    font-weight: 100;
    background-color: #114232;
    color: white;
}
footer h2 {
    font-size: 40px;
    font-weight: normal;
    margin-bottom: 10px;
    text-align: center;
}
footer .text {
    text-transform: uppercase;
    font-weight: 100;
    text-align: center;
    margin-bottom: 20px;
}
footer ul li {
    margin-bottom: 10px;
    font-size: 14px;
}
footer img {
    width: 30px;
    margin: 0 20px;
}
footer .social {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
footer .copy {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    background: black;
}
footer .copy li {
    font-size: 13px;
    margin: 20px;
    width: 30%;
    text-align: center;
}
@media screen and (max-width: 900px) {
    footer {
        align-items: center;
        justify-content: center;
    }
footer .copy {
    flex-direction: column;
    align-items: center;
    justify-content: center;
padding: 10px;
}
footer .copy li {
    width: 100%;
    margin: 5px;
    font-size: 11px;
}
}



.appear {
    opacity: 0;
    transition: opacity 1s;
}



.title-band {
    width: 100%;
    height: 300px;
    background: url(assets/slide4.jpg) no-repeat;
    background-size: cover;
    position: relative;
}
.title-band h2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.33);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    font-weight: 100;
    padding-top: 60px;
}